extends ../layout

block content

  #collections

    .row.mt30
      .col-md-9.p0
        h1.bold Collections
      .col-md-3.p0
        div.pull-left(data-view-switch)
          button#list-view.btn.btn-default.mr5(v-bind:class='{active:activeView == "collectionlist"}', @click='switchView("collectionlist")')
            i.fa.fa-list.mr0
          button#box-view.btn.btn-default(v-bind:class='{active:activeView == "collectionbox"}',@click='switchView("collectionbox")')
            i.fa.fa-th.mr0
        button.btn.btn-primary.pull-right(type='button', data-toggle='modal', data-target='#addCollection')
          | Add collection



    .row.mt30

      if collections.length != 0

        each collection, index in collections


          .col-md-12.box.collectionlist(id = collection.name.replace(/\s+/g, '') ,data-collection, data-collection-id=collection.id)
            .collectioneditbar
              button.edit.btn.btn-primary(data-toggle='modal', data-target='#editCollection', @click='editCollection')
                i.fa.fa-edit
              button.trash.btn.btn-primary(data-toggle='modal', data-target='#deleteCollection', @click='deleteCollection')
                i.fa.fa-trash-o
            h3(data-toggle='collapse', data-target= '#'+collection.name.replace(/\s+/g, '')+'-'+index, @click='loadAssets')
              span.cname #{collection.name}

              i.pull-right.fa.fa-caret-down



              .date.fa.fa-calendar-o
                span= moment(collection.updatedAt).format("DD.MM.YY - HH:mm") + ' Uhr'


            div(id = collection.name.replace(/\s+/g, '')+'-'+index, data-collection-hash = '#'+collection.name ).collapse.collectionresults
              span.pull-right(v-if="collectionSize > 1" ) {{collectionSize}} Assets
              span.pull-right(v-if="collectionSize == 1" ) {{collectionSize}} Asset
              .row
                ul.assetlist.col-md-12.text-center
                  li.col-md-2(v-if="collectionSize > 0", v-for="asset in assets")

                    // TODO: Eine Idee, wie man das dynamisch gestalten könnte? Dass die FontAwesome Klasse aus der config.js geladen wird. Also in der Art: fileClasses.asset.type

                    a(v-bind:href="'details/'+collectionAlias+'/' + asset._id")
                      img.thumb(v-if="asset.type == 'image'",v-bind:src="asset.path")
                    a(v-bind:href="'details/'+collectionAlias+'/' + asset._id")
                      i.thumb.fa.fa-4x(v-if="asset.type == 'pdf'",v-bind:class="fileClasses.pdf")
                    a(v-bind:href="'details/'+collectionAlias+'/' + asset._id")
                      i.thumb.fa.fa-4x(v-if="asset.type == 'psd'",v-bind:class="fileClasses.default")
                    h5
                      i.fa.fa-file-image-o
                      | {{asset.name}}
                    .editbar
                      a.fa.fa-edit(v-bind:href="'details/'+collectionAlias+'/' + asset._id")
                        span Edit
                      a.fa.fa-trash-o(@click='deleteAsset(asset._id)')
                        span Delete

                    .taglist(v-if="asset.tags")
                      div(v-for="tag in asset.tags.split(',')")
                        span.label.label-primary {{tag}}

                  li.col-md-12(v-if="collectionSize == 0")
                      h5
                        | This collection has no assets yet.
                button.btn.btn-primary.pull-right.addFiles(style="margin-bottom:30px",type='button', data-toggle='modal', data-target='#uploadAssets')
                    | Add files

      else
        .col-md-12.box
          h2 No collection exists
          p Please add some








    // MODALS
    #addCollection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Add a collection
          .modal-body
            form(method='POST' action='/collections/add')
              input.csrf(type='hidden', name='_csrf', value=_csrf)
              .form-group
                input.form-control(type='text', name='name', id='name', placeholder='Collection Title', autofocus, required)
              .form-group
                button.btn.btn-primary(type='submit')
                  | Add collection

    #editCollection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#editLabel.modal-title Change Collection Title
          .modal-body
            form(method='POST' action='/collections/edit')
              input.csrf(type='hidden', name='_csrf', value=_csrf)
              .form-group
                input.form-control(type='hidden', name='collectionIDName', id='collectionIDName' value='')
                input.form-control(type='text', name='collectionName', id='collectionName' value='Title')
              .form-group
                button.btn.btn-primary(type='submit')
                  | Change Title

    #deleteCollection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#deleteLabel.modal-title Delete Collection
          .modal-body
            form(method='POST' action='/collections/delete')
              input.csrf(type='hidden', name='_csrf', value=_csrf)
              .form-group
                p Do you really want to delete this collection?
                input.form-control(type='hidden', name='collectionID', id='collectionID')
              .form-group
                button.btn.btn-danger(type='submit')
                  | Delete Collection

    // ASSETS

  #uploadAssets.modal.fade.collectionDropzone(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog.big-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Upload Area for
                    strong.uploadToCollection
                p All uploaded assets are added to the collection
                    strong.uploadToCollection

            .modal-body.pt0
                .row.box

                    span.btn.btn-primary.fileinput-button
                        span Add files


                    #actions.row.upload-area.uploadImage
                        .col-lg-12.p0.buttonArea(style="background-color: white")
                            button.btn.btn-sm.btn-empty.cancel.pull-right(type='reset')
                                span Remove all

                            button.btn.btn-sm.btn-info.start.pull-right.mr5.ml30(type='submit')
                                span Upload all

                        .row.upload-assets
                            .col-lg-12
                                #previews.table.table-striped.files
                                    #templateCollections.file-row
                                        // This is used as the file preview template
                                        div.img
                                            span.preview
                                                img(data-dz-thumbnail='')
                                        div.name
                                            p.name(data-dz-name='')
                                            strong.error.text-danger(data-dz-errormessage='')
                                        div.editname
                                            span.btn.btn-primary.btn-sm.fa.fa-pencil.editName
                                            span.btn.btn-empty.btn-sm.fa.fa-close(style="display:none")
                                        div.size
                                            p.size(data-dz-size)
                                            .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
                                                .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')

                                        div.tags
                                            span.btn.btn-primary.btn-sm.fa.fa-tags.showTags
                                            .tagsArea


                                        div.buttons(style="text-align:right")
                                            button.btn.btn-primary.start
                                                span Start upload
                                            button.btn.btn-empty.cancel.single(data-dz-remove='')
                                                span Remove
                                            button.btn.btn-danger.delete.pull-right(data-dz-remove='')
                                                span Delete

