extends ../layout

block content

  #asset(data-collection-id=asset._collectionId)

    .row.mt30
      .col-md-8.p0
        h1.bold #{title}
      .col-md-4.p0
          a.btn.btn-empty.pull-right(v-bind:href="'../../collections#'+collection.url")  Back to collections
          a.mr30.btn.btn-primary.pull-right(v-bind:href="'../../collections#'+collection.url") Edit

    .row.mt30.box.df
        .col-md-6.imageArea

            if asset.type == "image"
                img(src='/' + asset.path)
            if asset.type == "pdf"
                i.thumb.fa.fa-5x.text-center(v-bind:class="fileClasses.pdf")
            if asset.type == "psd"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.default")
            if asset.type == "default"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.default")
        .col-md-1
        .col-md-5
            h3 Informations
            ul.assetdetails
                if asset.tags
                    li.tags
                        - var tags = asset.tags.replace(/ /g,'').split(',')
                        each tag in tags
                            span.mr5.label.label-primary=tag
                li
                    strong Name:
                    |  #{asset.name}
                li
                    strong Type:
                    |  #{asset.suffix}
                li
                    strong Size:
                    if asset.size < 1000000
                        - var num = asset.size/1000
                        - num = num.toFixed(0)
                        span=" "+num+" KB"
                    else
                        - var num = asset.size/1000000
                        - num = num.toFixed(2)
                        span=" " + num + " MB"
                li
                    strong Uploaded at:
                    span= ' '+moment(asset.createdAt).format("DD.MM.YY - HH:mm") + ' Uhr'
                li
                    strong Uploaded by:
                    |  #{asset.user.name}
                li
                    strong Collection:
                    a(v-bind:href="'../../collections#'+collection.url")  {{collection.name}}


            hr
            h3 Specific Informations


            ul.assetdetails
                li
                    strong Dimensions:
                    |  #{asset.width}px x #{asset.height}px
                if asset.suffix == "image/jpeg" && asset.metadata || asset.suffix == "image/tiff"
                    li
                        strong Camera:
                        |  #{asset.metadata.image.Model}
                    if asset.metadata.exif.ApertureValue
                        li
                            strong Aperture:
                            |  #{asset.metadata.exif.ApertureValue}

                    if asset.metadata.exif.ShutterSpeedValue
                        li
                            strong Shutter speed:
                            |  #{asset.metadata.exif.ShutterSpeedValue}
                    if asset.metadata.exif.ISO
                        li
                            strong ISO:
                            |  #{asset.metadata.exif.ISO}
                if asset.metadata
                    ul.assetdetails
                        li
                            button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#exifDataModal') Show more




            #exifDataModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog.big-dialog(role='document')
                  .modal-content
                      .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') ×
                          h4.modal-title Image informations
                      .modal-body
                        if asset.metadata

                          .row
                              .col-md-6
                                  if asset.type == "image"
                                      img(src='/' + asset.path)
                                  h4.mt30 IMAGE
                                  ul.assetdetails
                                      each val, key in asset.metadata.image
                                          li
                                            strong #{key}
                                            |  #{val}
                                  h4.mt30 THUMBNAIL
                                  ul.assetdetails
                                      each val, key in asset.metadata.thumbnail
                                          li
                                              strong #{key}
                                              |  #{val}
                              .col-md-6
                                  h4 EXIF
                                  ul.assetdetails
                                      each val, key in asset.metadata.exif
                                          li
                                              strong #{key}
                                              |  #{val}









    .row.mt30.box
        .col-md-12
            h1 Download
