extends ../layout

block content

  #asset(data-collection-id=asset._collectionId, data-asset-id=asset._id)

    .row.mt30
      .col-md-8.p0
        h1.bold #{title}
      .col-md-4.p0
          a.trash.btn.btn-empty.pull-right(data-toggle='modal', data-target='#deleteAsset') Delete
          a.mr5.btn.btn-primary.pull-right(type='button', data-toggle='modal', data-target='#editAsset', @click='loadCollections') Edit
    .row
        a.btn.btn-empty(v-bind:href="'../../collections#'+curCollection.url")  Back to collections

    .row.mt30.box.df

        .col-md-6.imageArea

            if asset.type == "image"
                img(src='/' + asset.path)
            if asset.type == "pdf"
                i.thumb.fa.fa-5x.text-center(v-bind:class="fileClasses.pdf")
            if asset.type == "psd"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.default")
            if asset.type == "audio"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.mp3")
            if asset.type == "video"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.mp4")
            if asset.suffix == "video/quicktime"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.mp4")
            if asset.type == "word"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.word")
            if asset.type == "default"
                i.thumb.fa.fa-5x(v-bind:class="fileClasses.default")
        .col-md-1
        .col-md-5
            h3 Information
            ul.assetdetails
                if asset.tags
                    li.tags
                        - var tags = asset.tags.replace(/ /g,'').split(',')
                        each tag in tags
                            span.mr5.label.label-primary=tag
                li
                    strong Name:
                    |  #{asset.name}

                if asset.suffix == "image/jpeg" && asset.metadata["0th"] && asset.metadata["0th"]["270"]
                    li
                        strong Description:
                        |  #{asset.metadata["0th"]["270"]}
                else if asset.description
                    li
                        strong Description:
                        |  #{asset.description}
                else
                    li Currently no description
                li
                    strong Type:
                    |  #{asset.suffix}
                li
                    strong Size:
                    if asset.size < 1000000
                        - var num = asset.size/1000
                        - num = num.toFixed(0)
                        span=" "+num+" KB"
                    else
                        - var num = asset.size/1000000
                        - num = num.toFixed(2)
                        span=" " + num + " MB"
                li
                    strong Uploaded at:
                    span= ' '+moment(asset.createdAt).format("DD.MM.YY - HH:mm") + ' Uhr'
                li
                    strong Uploaded by:
                    |  #{asset.user.name}
                li
                    strong Collection:
                    a(v-bind:href="'../../collections#'+curCollection.url")  {{curCollection.name}}

                .rating(data-rating=asset.rating)
                    span(@click="rateAsset('5')") ☆
                    span(@click="rateAsset('4')") ☆
                    span(@click="rateAsset('3')") ☆
                    span(@click="rateAsset('2')") ☆
                    span(@click="rateAsset('1')") ☆


            if asset.watsonImage
                hr
                h3.cursor.collapsed(data-toggle="collapse", data-target="#asset-information") Image Recognition
                  i.caret-icon
                ul.assetdetails#asset-information.collapsed.collapse
                    li
                        each val in asset.watsonImage.images[0].classifiers[0].classes
                            li
                                .row
                                    .col-md-6
                                        | #{val.class}
                                        span.pull-right.small #{val.score.toFixed(1)*10} / 10
                                    .col-md-6
                                        .progress(style="height:10px")
                                            .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style="width:"+val.score*100+"%")

                if asset.watsonFace.images[0].faces[0] && asset.watsonFace
                    hr
                    h3.cursor.collapsed(data-toggle="collapse", data-target="#asset-face-detection") Face Detection
                      i.caret-icon
                    ul.assetdetails#asset-face-detection.collapsed.collapse
                        li
                            each val in asset.watsonFace.images[0].faces
                                    li
                                        .row
                                            if val.identity
                                                .col-md-6
                                                    | #{val.identity.name}
                                                    span.pull-right.small #{val.identity.score.toFixed(1) * 10} / 10
                                                .col-md-6
                                                    .progress(style="height:10px")
                                                        .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style="width:" + val.identity.score * 100 + "%")

                                            .col-md-6
                                                | #{val.gender.gender}
                                                span.pull-right.small #{val.gender.score.toFixed(1) * 10} / 10
                                            .col-md-6
                                                .progress(style="height:10px")
                                                    .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style="width:" + val.gender.score * 100 + "%")

                                            .col-md-6
                                                | #{val.age.min} - #{val.age.max}
                                                span.pull-right.small #{val.age.score.toFixed(1) * 10} / 10
                                            .col-md-6
                                                .progress(style="height:10px")
                                                    .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style="width:" + val.age.score * 100 + "%")



            if asset.suffix == "image/jpeg"
                hr
                h3.cursor.collapsed Specific Information
                ul.assetdetails#asset-specific-information
                    if asset.width
                        li
                            strong Dimensions:
                            |  #{asset.width}px x #{asset.height}px
                    ul.assetdetails.images
                        if asset.metadata["0th"]
                            each val, key in asset.metadata["0th"]
                                li(data-translate=key)
                                    strong
                                    |  #{val}
                if asset.metadata["0th"] && asset.metadata["Exif"] && asset.metadata["1st"]
                    ul.assetdetails
                        li
                            button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#exifDataModal') Show more




            if asset.suffix != "image/jpeg"
                hr
                h3.cursor.collapsed Specific Information
                ul.assetdetails#asset-specific-information
                    if asset.width
                        li
                            strong Dimensions:
                            |  #{asset.width}px x #{asset.height}px
                    if asset.metadataFile
                        button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#exifDataModal') Show meta information

    .row.mt30.box.downloadbox#chatbox
      .col-md-12
          h1 Comments
              button.btn.btn-empty.btn-sm.pull-right(type='button', data-toggle='modal', data-target='#addComment') Add comment

          if asset.comments.length
              each comment in asset.comments.reverse()
                  .chat
                      if user.profile.name == comment.name
                          form.pull-right(method='POST' action='/asset/remove/comment')
                              input.csrf(type='hidden', name='_csrf', value=_csrf)
                              input.form-control(type='hidden', name='assetID', id='id' value=asset._id)
                              input.form-control(type='hidden', name='commentID', id='id' value=comment._id)
                              button.btn.btn-primary.btn-sm(type='submit')
                                i.fa.fa-trash-o
                                | Delete
                      span= ' '+moment(comment.date).format("DD.MM.YY - HH:mm") + ' Uhr'
                      h4 #{comment.name}
                      p #{comment.comment}
          else
              p Currently no comments available


    .row.mt30.box.downloadbox
        .col-md-12
            h1 Download

            if asset.type != "image"
                .assetlist
                    .col-md-4.whitebox
                        h4 #{asset.name}
                        span
                            strong Size:
                                if asset.size < 1000000
                                    - var num = asset.size/1000
                                    - num = num.toFixed(0)
                                    span=" " + num + " KB"
                                else
                                    - var num = asset.size/1000000
                                    - num = num.toFixed(2)
                                    span=" " + num + " MB"

                        if asset.type == "psd"
                            span
                                strong ICC:
                                |  #{asset.metadataFile.profileDescription}
                            span
                                strong Dimensions:
                                |  #{asset.metadataFile.imageSize}px

                        hr
                        a.btn-primary.btn(href="/asset/download/"+asset.path.split('/')[1]+"?name="+asset.name)
                            i.fa.fa-cloud-download
                            |  Download

            if asset.type == "image"

                .assetlist
                    .col-md-4.whitebox
                        h4 Original file
                        if asset.width
                            span
                                strong Dimensions:
                                |  #{asset.width}px x #{asset.height}px
                        hr
                        //a.btn-primary.btn(v-bind:href="'/asset/download/image/'+assetID+'/original'")

                        a.btn-primary.btn(href="/asset/download/"+asset.path.split('/')[1]+"?name="+asset.name)
                            i.fa.fa-cloud-download
                            | Download

                    .col-md-4.whitebox(v-for="dimension in settings")
                        h4 {{dimension.name}}
                        span
                            if asset.width
                                strong Dimensions:
                                - var ratio = asset.width / asset.height;
                                |  {{dimension.width}}px x {{Math.round(dimension.width/#{ratio})}}px
                        hr
                        a.btn-primary.btn(@click="requestDownload('image',dimension)", data-toggle='modal', data-target='#downloadAsset')
                            i.fa.fa-cloud-download
                            | Request download




        #exifDataModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.big-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title File information
                    .modal-body
                        if asset.suffix == "image/jpeg"
                            .row
                                .col-md-6
                                    if asset.type == "image"
                                        img(src='/' + asset.path)
                                    h4.mt30 Image
                                    if asset.metadata["0th"]
                                        ul.assetdetails.images
                                            each val, key in asset.metadata["0th"]
                                                li(data-translate=key)
                                                    strong
                                                    |  #{val}
                                    if asset.metadata["1st"]
                                        ul.assetdetails.images
                                            each val, key in asset.metadata["1st"]
                                                li(data-translate=key)
                                                    strong
                                                    |  #{val}
                                    if asset.iptc
                                        h4 IPTC
                                        ul.assetdetails
                                            each val, key in asset.iptc
                                                li
                                                    strong #{key}
                                                    |  #{val}
                                .col-md-6
                                    if asset.metadata.Exif
                                        h4.mt30 Exif
                                        ul.assetdetails.exif
                                            each val, key in asset.metadata.Exif
                                                if key != "37500"
                                                    li(data-translate=key)
                                                        strong
                                                        |  #{val}


                        if asset.metadata && asset.suffix != "image/jpeg"
                            .row
                                .col-md-6
                                    if asset.type == "image"
                                        img(src='/' + asset.path)
                                    h4.mt30 IMAGE
                                    ul.assetdetails
                                        each val, key in asset.metadata.image
                                            li
                                                strong #{key}
                                                |  #{val}
                                    if asset.iptc
                                        .row.mt30
                                            .col-md-6
                                                h4 IPTC
                                                ul.assetdetails
                                                    each val, key in asset.iptc
                                                        li
                                                            strong #{key}
                                                            |  #{val}

                                .col-md-6
                                    h4 EXIF
                                    ul.assetdetails
                                        each val, key in asset.metadata.exif
                                            if(key != "MakerNote")
                                                li
                                                    strong #{key}
                                                    |  #{val}

                        if asset.metadataFile
                            .row.mt30
                                .col-md-6
                                    h4 File Information
                                    ul.assetdetails
                                        each val, key in asset.metadataFile
                                            li
                                                strong #{key}
                                                |  #{val}

        #downloadAsset.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Your download
                    .modal-body
                        if asset.type == "image"
                            img(src='/' + asset.path)
                        if asset.type == "pdf"
                            i.thumb.fa.fa-5x.text-center(v-bind:class="fileClasses.pdf")
                        if asset.type == "psd"
                            i.thumb.fa.fa-5x(v-bind:class="fileClasses.default")
                        if asset.type == "default"
                            i.thumb.fa.fa-5x(v-bind:class="fileClasses.default")
                        hr
                        h4 #{asset.name}
                        span(v-if="downloadFile.settings.name")
                            strong Optimized for:
                            |  {{downloadFile.settings.name}}
                        span(v-if="downloadFile.file.icc && downloadFile.file.icc.colorSpace == 'RGB' && downloadFile.file.icc.deviceModelDescription ")
                            strong Current Profile:
                            |  {{downloadFile.file.icc.colorSpace}} {{downloadFile.file.icc.deviceModelDescription}}
                        span
                            strong New Profile:
                            |  sRGB

                        span(v-if="downloadFile.file.width")
                            strong Dimensions:
                            |  {{downloadFile.file.width}}px x {{downloadFile.file.height}}px
                        span(v-if="downloadFile.file.size < 1000000")
                            strong Size:
                            |  {{(downloadFile.file.size/1000).toFixed(0)}} KB

                        span(v-else)
                            strong Size:
                            |  {{(downloadFile.file.size/1000000).toFixed(2)}} MB




                        hr
                        a.btn.btn-primary(v-bind:href="'/asset/download/'+downloadFile.file.filename", @click="hideDownloadModal")
                            | Download now
        #editAsset.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
              .modal-content
                  .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      h4#editLabel.modal-title Edit #{asset.name}
                  .modal-body
                      form(method='POST' action='/asset/edit')
                          input.csrf(type='hidden', name='_csrf', value=_csrf)
                          .form-group
                              - var name = asset.name.split('.')[0]
                              - var suffix = asset.name.split('.').pop()
                              - var tags = asset.tags
                              input.form-control(type='hidden', name='assetID', id='assetID' value=asset._id)
                              input.form-control(placeholder='Asset name',type='text', name='assetName', id='assetName' value=name, required)
                              input.form-control(type='hidden', name='assetSuffix', id='assetSuffix' value=suffix)
                          .form-group
                              textarea.form-control(name='description', rows="8", id='descr', placeholder='Asset description') #{asset.description}

                          .form-group
                              input.form-control(placeholder='enter,tags,like,this',type='text', name='assetTags', id='assetTags' value=tags)
                          .form-group
                              select#collectionID(name="collectionID").form-control
                                  option(selected='selected',v-bind:value="curCollection._id") {{curCollection.name}}
                                  option(v-bind:value="collection._id",v-for="collection in collections", v-if="collection.name != curCollection.name ")
                                    | {{collection.name}}

                          .form-group
                              button.btn.btn-primary(type='submit')
                                  | Edit asset

        #addComment.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Write a comment
                    .modal-body
                        form(method='POST' action='/asset/add/comment')
                            input.csrf(type='hidden', name='_csrf', value=_csrf)
                            .form-group

                                input.form-control(type='hidden', name='assetID', id='id' value=asset._id)
                                textarea.form-control(name='comment', rows="8", id='comment' value='', placeholder='Message' required)

                            .form-group
                                button.btn.btn-primary(type='submit')
                                    | Add comment
        #deleteAsset.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#deleteLabel.modal-title Delete #{asset.name}
                    .modal-body.text-center
                        if asset.type == "image"
                            img(src='/' + asset.path, style="max-width:250px")


                        form(method='POST' action='/asset/delete')
                            input.csrf(type='hidden', name='_csrf', value=_csrf)
                            .form-group.mt30
                                p Do you really want to delete this asset?
                                input.form-control(type='hidden', name='assetID', value=asset._id)
                            .form-group
                                button.btn.btn-danger(type='submit')
                                    | Delete Asset
